:root {
  --primary-color: #007bff;
  --primary-color_accent: #0048ff;
  --secondary-color: #59d237;
  --secondary-color_accent: #3ad237;
  --background-light: #eff6ff;
  --background-light_accent: #dbeafe;
  --background-dark: #1f2937;
  --background-dark_accent: #111827;
  --border-radius-1: 0.25rem;
  --border-radius-2: 1rem;
}
